*{
    margin: 0;
    padding: 0;
    

}
.Main-footer{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    
}
.container {
    border: 10px;
    width: 250vh;
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #343a40;
    padding: 50px;

}
.footer {
    background-color: gra;
    width: 230px;
    color: rgb(255, 255, 255);
}
h1,h2,h3{
    font-size: 22px;
    width: 300px;
    text-decoration: underline blue;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 28px;
}
.small {
    font-size: 11.5px;
}