.container {
    display: flex;
    border: 10px solid black;
    height: 100vh;
    flex-wrap: wrap;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1 {
    background-color: red;
}
#box2 {
    background-color: blue;

}
#box3 {
    background-color: yellow;

}
#box4{
    background-color: rgb(78, 233, 78);
}