body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.box {
    background-color: #0071ff;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    border-radius: 20px;
    overflow: hidden;
}

/* Maken the image fit with the box*/
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover fills the box, might crop */
  /* object-fit: contain;  contains the whole image, may leave empty space */
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: "box-1 box-1 box-2 box-3"
                         "box-1 box-1 box-4 box-5";
}
@media(max-width: 56em){
    .grid-container{
        grid-template-columns: 200px 200px 200px ;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas: "box-1 box-1 box-2 "
                             "box-1 box-1 box-3 "
                             "box-4 box-5 box-5 ";
    }
}
@media(max-width: 30em){
    .grid-container{
        grid-template-areas: "box-1 box-2  "
                             "box-3 box-2 "
                             "box-3 box-4 "
                             "box-5 box-4 ";
    }
}

