.grid-item {
    background-color: blue;
    color: black;  
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;  
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:140px auto 50px  ;
    grid-template-areas: "header"
                         "body"
                         "body"
                         "footer";



    gap: 10px;
    max-width: 1500px;

}

.header {
    text-align: center; 
    color: white;
    border: 3px solid #04cceb;  
    background-color: #007bff;
    background-image: url(pro-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.body {
    text-align: center; 
    color: black;
    background-color: white;
    border: none;

}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-top: 1px solid gray;

   justify-content: space-between;
}

.flex-box-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
    gap: 15px;
}
.box{
    background-color: rgb(202, 193, 193);
    width: 454px;
    height: 150px;
    border-radius: 16px;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    
}
h1{
    font-size: 40px;
    box-shadow: #333;
}
h2{
    text-align: start;
    font-size: 25px;
    padding-left: 2px;
}

.flexbox-footer2{
    padding-top: 10px;
    gap: 30px;
}
@media(max-width: 600px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .flexbox-footer2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
}
