
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.navbar-container{
    height: 10vh;
    background-color: rgb(0, 80, 138);
    display: flex;
    flex-wrap: wrap;

}
.name {
    color: white;
    flex:2;
}
.logo{
    align-items: center;
    width: 80px;
    height: 60px;
    padding-top: 5px;
    padding-left: 5px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: white;
    margin-right: 27px;
    flex: 3;

}
.top-menu{
    font-size: 18px;
}

.container {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgb(225, 242, 242);
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.images{
    width: 260px;
    height: 180px;
    border-radius: 8px 8 px;
}

.box{
    height: 400px;
    width: 260px;
    background-color: white;
    border-radius: 8px;
   
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
}
h1{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 340px;
}
p {
    padding-left: 6px;
    padding-right: 5px;
}
button {
    width: 80px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 160);
    border-radius: 10px;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 5px;
    border: none;
    font-weight: bold;
}