.subscribed {
    background-color: green;
    color: white;
    font-weight: bold;
}
.value {
    width: 140px;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    border-style:dashed;
}
.calculate {
    width: 100px;
    height: 45px;
    background-color: green;
    color: white;
    border: none;
    margin-left: 10px;
}
.calculate:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: white;
    color:green;
    border: 5px black;
    border-color: black;
}