body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}
h1{
    text-align: center;
}
p {
    line-height: 1.6;
}

@media screen and (max-width: 600px){ 
    body {
        background-color: lightblue;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
    p{
        font-size: 0.9em
    };
}