.one {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 500px;
    background-color: rgb(241, 235, 235);
    
}
.two {
    display: inline-block;
    gap: 30px;
    padding: 20px;
    width: 500px;
    background-color: rgb(241, 235, 235);
    
}
button {
    padding: 30px;
    margin: 10px;
    background-color: blue;
    border: none;

    color: white;
}
