a:link {
    color: blue;
    text-decoration: none;

}
a:hover {
    background-color: gray;
}
p::first-line{
    font-weight: bold;
}
a[href*="https://www.facebook.com/"]{
    background-color: gray;
}
