body{
    background-image: url('thumnel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.button-containter {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    size: 100px;
   
}
.pop {
    background-color:rgb(10, 133, 220);
    color: white;
    border-width: 1px;
    border-color: rgb(10, 133, 220);
    height: 90px;
    width: 200px;
    border-radius: 2px;  
    cursor: pointer;
    margin-right: 8px;  /*Space on the right */
    transition: all 0.2s ease;  /* Speed delay when i hower it  */
    font-size: 20px;
}

.pop:hover {
    background-color: white;
    color: rgb(10, 133, 220);
    border-color: rgb(10, 133, 220);
    
    
}

.pop:active {
    background-color:rgb(10, 133, 220);;
    color: white;
    border-color: rgb(10, 133, 220);;
}

.join {
    background-color: white;
    color: rgb(10, 133, 220);
    height: 90px;
    width: 120px;
    border-radius: 2px;
    cursor: pointer;
    border-color: rgb(10, 133, 220);
    border-style: solid;
    border-width: 1px;
    transition: all 0.2s ease;
     font-size: 20px;
}
.join:hover {
    background-color: rgb(10, 133, 220);
    color: white;
}
.tweet {
    background-color: rgb(10, 133, 220);
    height: 90px;
    width: 120px;
    color: white;
    border-color: none;
    border: none;   
    margin-left: 8px;
    cursor: pointer;
     font-size: 20px;
}

.text {
    margin-top: 0px;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(200, 227, 202);
    
}
.search {
    width: 200px;
    height: 40px;
    display: block;
    margin: auto;
    text-align: center;
    border: none;
    
}
.search::placeholder {
    color: rgb(16, 111, 219);           
    text-align: center;     
    border: none;
    opacity: 50%;
}
.text2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    size: 100px;
    
}
.ul1 {
  color: rgb(13, 93, 35);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 30px;
    margin-top: 30px;
    margin-left: 30px;
    border: 2px solid rgb(13, 93, 35); /* Add this line */
    border-radius: 20px;
}
.ul2 {
  color: rgb(13, 93, 35);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 30px;
    margin-top: 30px;
    margin-left: 30px;
    border: 2px solid rgb(13, 93, 35); /* Add this line */
    border-radius: 20px;
}
.head {
    margin-left: 30px;
    background-color: white;
    padding-left: 20px;
    width: 450px;
    height: 600px;

}
.all {
     display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    size: 100px;
}
.table{
    margin-left: 30px;
    background-color: white;
    padding-left: 20px;
    width: 450px;
    height: 600px;
}