.head {
    background-color: rgb(27, 27, 115);
    color: white;
    
}
.under {
    background-color: rgb(224, 217, 217);
}
.table {
    background-color: black;
    width: 300px;
    height: 100px;
    align-items: center;
    border: 10px;
    border-color: blue;
    
}
.p {
    margin-top: 20px;
    font-size: 30px;
}
.item600 {
    background-color: rgb(161, 154, 154);
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: whitesmoke;
    margin-top: 10px;
}
.section3{
    margin-top: 20px;
    line-height: 5px;
}