body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    margin: 0;
}
.head {
 
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;         
    background-color: green;
    color: white;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;    
    gap: 30px;
    background-color: rgb(68, 67, 67);
    color: white;
}
.container1 {
    background: white;
    padding: 24px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow:  5px 2px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    
}

.container1 h2, h3,h4,h5 {
    margin-top: 0;
    color: #0078ff;
    font-size: 23px;
    font: bold;
}

.table{
    width: 700px;
    height: 150px;
    align-items: center;
    background-color: white;
}
.table tr {
    padding: 30px;
    background-color: rgb(240, 239, 239);
    align-items: center;
    justify-content: center;
}
.table th 
{
    padding: 10px;
}
.table td
{
    padding: 9px;
    width: 30px;
}
.ul li strong {
    margin-bottom: 8px;
    color: #0078ff;
}
.c {
    color: #0078ff;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 14px;
}
.input-box {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}
.send-btn {
    width: 100%;
    padding: 12px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}